[submodule "FlockingSimulation"]
	path = source
	url = https://github.com/RyanAllcock/FlockingSimulation
	branch = source
[submodule "lib/DesktopWindow"]
	path = lib/window
	url = https://github.com/RyanAllcock/DesktopWindow.git
